<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- 开启注解扫描 -->
    <context:component-scan base-package="com.park.*"></context:component-scan>
    <!--引入数据库链接信息jdbc.properties-->
    <context:property-placeholder location="classpath:jdbc.properties"></context:property-placeholder>
    <!--c3p0数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>
    <!--mybatis配置  mybatisplus配置可以替代mybatis的配置-->
    <!--<bean  class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="typeAliasesPackage" value="com.etc.model"></property>
        <property name="mapperLocations" value="classpath:mapper/*Mapper.xml"></property>
    </bean>-->
    <!--配置mybatis属性信息   由于Mybatis-plus 是Mybaits的增强-->
    <bean class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
        <!--dataSource-->
        <property name="dataSource" ref="dataSource"></property>
        <!--批量配置别名-->
        <property name="typeAliasesPackage" value="com.park.model"></property>
        <!--批量配置mapper映射-->
        <property name="mapperLocations" value="classpath:mapper/*Mapper.xml"></property>
        <!--引入Mybatis配置文件SqlMapConfig.xml-->
        <property name="configLocation" value="classpath:SqlMapConfig.xml"></property>
    </bean>
    <!--配置mybatis的mapper接口代理对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--配置mapper接口的基本包-->
        <property name="basePackage" value="com.park.mapper"></property>
    </bean>
    <!--配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--配置事务注解驱动 将事务管理器引入进来-->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>
    <!--<import resource="applicationContext-sc.xml"></import>-->
    <!--分割线一下是SpringMvc的配置-->
    <!-- 配置处理器映射器 -->
    <!-- mvc 的注解驱动  一旦配置上 就相当于 配置了处理器映射器以及处理器适配器  -->
    <mvc:annotation-driven ></mvc:annotation-driven>
    <!--配置静态资源  两种方式-->
    <!--方式一:-->
    <mvc:default-servlet-handler></mvc:default-servlet-handler>
    <!--方式二:-->
    <!-- <mvc:resources mapping="/js/**" location="/js/"></mvc:resources>
    <mvc:resources mapping="/css/**" location="/css/"></mvc:resources>-->
    <!-- 配置视图解析器  -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 配置前缀  /success.jsp   /+success+.jsp-->
        <property name="prefix" value="/"/>
        <!-- 配置的后缀 -->
        <property name="suffix" value=".html"/>
    </bean>
</beans>
