<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.park.mapper.UserMapper">


    <select id="selectByUserId" resultType="com.park.model.ParkingUsers">
        select * from parking_users where pusers_id = #{pusers_id}
    </select>
</mapper>

